<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727439368569-qeb9q44d92o7oumpcfctf112tbuekgrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727439368569-qeb9q44d92o7oumpcfctf112tbuekgrf</string>
	<key>API_KEY</key>
	<string>AIzaSyCHEQQVCTbTIsdgVwojAYHC0BLouXxbmEA</string>
	<key>GCM_SENDER_ID</key>
	<string>727439368569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeyneppsevgi.AirBnb</string>
	<key>PROJECT_ID</key>
	<string>airbnb-34ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-34ad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727439368569:ios:662827cd2ccbf4145e0fa8</string>
</dict>
</plist>